{{#paper-toolbar}}
    <div class="md-toolbar-tools">
      {{#if session.isAuthenticated}}
          <img class="user-profile" src={{session.currentUser.imageUrl}} />
          <span class="user-name">{{session.currentUser.name}}</span>
          {{#paper-button raised=true warn=true action="signOut"}}Sign Out{{/paper-button}}
        {{outlet}}
      {{else}}
          {{#paper-button raised=true warn=true action="signIn"}}Sign In{{/paper-button}}
      {{/if}}
    </div>
{{/paper-toolbar}}

{{todo-list todos=model}}
