{{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
    {{outlet}}
{{else}}
    <button {{action "signIn"}}>Sign in</button>
{{/if}}

{{todo-list todos=model}}
